.index-top {
    display: flex;
    justify-content: space-between;
    margin: .48rem .52rem 0 .52rem;
}

.index-name {
    font-size: .56rem;
    color: #363636;
    font-weight: bold;
    margin-right: .2rem;
    margin-top: .08rem;
    line-height: .68rem;
    letter-spacing: .04rem;
}

.index-oval {
    width: 1.12rem;
    height: 1.12rem;
}

.sort-container {
    margin: 0 .16rem .48rem .16rem;
    white-space: nowrap;
    overflow-x: scroll;
}

.sort-con {
    position: relative;
    display: inline-block;
    height: .44rem;
    line-height: .44rem;
    padding: 0 .24rem;
    color: #b3bfd3;
}

.sort-cont {
    padding-top: .1rem;
    height: .44rem;
    line-height: .44rem;
    font-size: .16rem;
}

.sort-con.active .sort-cont {
    color: #000;
}

.sort-con.active .sort-badge {
    position: absolute;
    right: .15rem;
    top: 0;
    width: .1rem;
    height: .1rem;
    background: #d0021b;
    border-radius: 100%;
}


.index-con {
    width: 6.24rem;
    margin: 0 auto;
    overflow: hidden;
}

.index-scene {
    position: relative;
    height: 2.72rem;
    margin-bottom: .4rem;
    border-radius: .2rem;
    overflow: hidden;
}

.index-sceneCover {
    position: absolute;
    left: 0;
    top: 0;
    width: 6.24rem;
    height: 2.72rem;
    z-index: 1;
}

.index-sceneCon {
    position: absolute;
    left: 0;
    top: 0;
    width: 6.24rem;
    height: 2.72rem;
    z-index: 2;
    padding: 0 .48rem;
}

.index-sceneNames {
    display: flex;
    align-items: center;
    margin-top: 1.12rem;
    line-height: .56rem;
    color: #fff;
    font-size: .4rem;
    font-weight: bold;
}

.index-sceneName {
    max-width: 4.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.index-sceneTotal {
    width: .44rem;
    height: .44rem;
    margin-left: .3rem;
}

.index-sceneCount {
    margin-bottom: .12rem;
    line-height: .4rem;
    color: #fff;
    font-size: .28rem;
    opacity: .6;
}

.index-sceneProgress {
    width: 2.68rem;
}

/* 单词页 */

.scene-top {
    display: flex;
    justify-content: space-between;
    width: 6.4rem;
    margin: 0 auto;
}

.scene-left {
    width: 4.7rem;
    padding-left: .24rem;
}

.scene-name {
    line-height: .74rem;
    font-size: .52rem;
    color: #000;
}

.scene-count {
    margin-top: .04rem;
    line-height: .4rem;
    font-size: .28rem;
    color: #999;
}

.scene-right {
    display: flex;
    margin-top: .66rem;
}

.scene-circle {
    position: relative;
    width: 30px;
    height: 30px;
}

.scene-bg {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scene-canvas {
    width: 30px;
    height: 30px;
}

.circle-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 30px;
    height: 30px;
}

.circle-icon {
    width: 12px;
    height: 12px;
}

.circle-time {
    margin-left: .18rem;
    height: 30px;
    line-height: 30px;
    font-size: .28rem;
    font-weight: bold;
}


.scene-box {
    position: absolute;
    left: 0;
    bottom: 3rem;
    width: 7.5rem;
    height: 6.4rem;
}

.scene-con {
    position: relative;
    width: 6.4rem;
    height: 6.4rem;
    margin: 0 auto;
}

.scene-back {
    position: absolute;
    left: 0;
    right: 0;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: .24rem;
    background: linear-gradient(to bottom right, #25c1fd, #804efe);
}

.scene-cover {
    position: absolute;
    left: 0;
    right: 0;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: .24rem;
}

.scene-cont {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: .24rem;
    background: linear-gradient(to bottom right, #25c1fd, #804efe);
    overflow: hidden;
}

.scene-yes {
    position: absolute;
    right: 0;
    top: 0;
    width: 3.5rem;
    height: .48rem;
    line-height: .48rem;
    margin-top: .6rem;
    font-size: .34rem;
    text-align: center;
    color: #fff;
}

.scene-no {
    position: absolute;
    left: 0;
    top: 0;
    width: 3.5rem;
    height: .48rem;
    line-height: .48rem;
    margin-top: .6rem;
    font-size: .34rem;
    text-align: center;
    color: #fff;
}

.scene-word {
    height: .72rem;
    line-height: .72rem;
    margin-top: 2.72rem;
    color: #fff;
    font-size: .64rem;
    font-weight: bold;
    text-align: center;
}

.scene-en {
    height: .44rem;
    line-height: .44rem;
    margin-top: .34rem;
    color: #fff;
    font-size: .4rem;
    text-align: center;
    opacity: .6;
}

.scene-nums {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 1.6rem;
    left: 50%;
    width: 7.5rem;
    margin-left: -3.75rem;
}

.scene-num {
    width: .4rem;
    height: .4rem;
    margin: 0 .1rem;
    background: #f2f2f2;
}

.scene-num.active {
    background: #000;
}

.scene-volume {
    position: absolute;
    bottom: .52rem;
    right: .8rem;
    width: .52rem;
    height: .52rem;
}