.index-top {
    display: flex;
    justify-content: space-between;
    margin: .48rem .52rem 0 .52rem;
}

.index-name {
    font-size: .56rem;
    color: #363636;
    font-weight: bold;
    margin-right: .2rem;
    margin-top: .08rem;
    line-height: .68rem;
    letter-spacing: .04rem;
}

.index-oval {
    width: 1.12rem;
    height: 1.12rem;
}

.sort-container {
    margin: 0 .16rem .48rem .16rem;
    white-space: nowrap;
    overflow-x: scroll;
}

.sort-con {
    position: relative;
    display: inline-block;
    height: .44rem;
    line-height: .44rem;
    padding: 0 .24rem;
    color: #b3bfd3;
}

.sort-cont {
    padding-top: .1rem;
    height: .44rem;
    line-height: .44rem;
    font-size: .16rem;
}

.sort-con.active .sort-cont {
    color: #000;
}

.sort-con.active .sort-badge {
    position: absolute;
    right: .15rem;
    top: 0;
    width: .1rem;
    height: .1rem;
    background: #d0021b;
    border-radius: 100%;
}


.index-con {
    width: 6.24rem;
    margin: 0 auto;
    overflow: hidden;
}

.index-scene {
    position: relative;
    height: 2.72rem;
    margin-bottom: .4rem;
    border-radius: .2rem;
    overflow: hidden;
}

.index-sceneCover {
    position: absolute;
    left: 0;
    top: 0;
    width: 6.24rem;
    height: 2.72rem;
    z-index: 1;
}

.index-sceneCon {
    position: absolute;
    left: 0;
    top: 0;
    width: 6.24rem;
    height: 2.72rem;
    z-index: 2;
    padding: 0 .48rem;
}

.index-sceneNames {
    display: flex;
    align-items: center;
    margin-top: 1.12rem;
    line-height: .56rem;
    color: #fff;
    font-size: .4rem;
    font-weight: bold;
}

.index-sceneName {
    max-width: 4.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.index-sceneTotal {
    width: .44rem;
    height: .44rem;
    margin-left: .3rem;
}

.index-sceneCount {
    margin-bottom: .12rem;
    line-height: .4rem;
    color: #fff;
    font-size: .28rem;
    opacity: .6;
}

.index-sceneProgress {
    width: 2.68rem;
}